*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.quiz-app {
    margin: 20px auto;
    width: 100%;
    height: 500px;
    background-color: black;
    color: #ddd;
    padding: 10px;
    .quiz-info{
        display: flex;
        background-color: black;
        padding: 7px;
        justify-content: center;
        font-size: 15px;
        color: #ffea00;
    }
    .quiz-area{
        background-color: black;; 
        padding: 2px;
        margin-top: 15px;
        h2{
            margin: 20px;
            font-size: 20px;
        }
    }
    .answers-area{
        background-color: black;;
        padding: 10px;
        
        .answer{
            background-color: black;;
            padding: 15px;
            label{
                cursor: pointer;
                font-weight: bold;
                color:white;
                background-color: rgb(152, 76, 246);
                font-size: 14px;
                width: 100%;
                height: 50%;
                padding: 15px;
                margin-left: 5px;
                position: relative;
                top: -1px;
                border-radius: 20px;
                
            }
        }
        .answer:not(:last-child){
            border-bottom:1px solid #dfdfdf ;
        }
        input[type="radio"]:checked + label{
            color: rgb(16, 17, 10);
        }                      
    }
    .bullets {
        border-top: 1px solid #dfdfdf;
        background-color:  Black;;
        display: flex;
        padding: 20px;
        margin: 10px;
        .spans {
            flex: 1;
        display: flex;
        span{
            width: 20px;
            height: 20px;
            background-color: #ddd;
            margin-right: 5px;
            border-radius: 50%;
            }
            .on{
                background-color:rgb(152, 76, 246);  
              }
        }
       }
       .results{
        display: flex;
         justify-content: center;
         font-size: larger;
        span{
        font-weight: bold;
        font-size: large;
        }
        span.bad{
            color: #ff0000;
              };
              span.good{
                color: #9dff00;
                    }
                    span.perfect{
                        color: #00a6ff;
                                }
}}
.index{
    
    background-image: url('cover.png');
    
     background-repeat: no-repeat;
    
     background-size: cover;
  }
  header h1{
    color:rgb(152, 76, 246) ;
    padding: 10px;
  
  }
  
  section{
   
    color:rgb(152, 76, 246) ;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
        width: 650px;
        height: 300px;
        margin: auto;
      
    h3{
        
       color: rgb(152, 76, 246); 
        
    }
  }


  .stepper-component{
    display: flex;
    justify-content: center;
    margin-top: 50px auto;
    
    li{
        list-style: none;
        display: flex;
        margin-left: 12rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        >i{
            margin: 0 85px;
            font-size: 25px;
        }
        .text{
            font-size: 13px;
            font-weight: 600;
        }
        .progress{
            margin:3rem 0;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            background-color: #202731;
            display: grid;
            place-items: center;
            color: #fff;
            position: relative;
            cursor: pointer;
            //display: block;
            .checkMark{
                font-size: 2rem;
                display: none;
                z-index: 10;
            }
            p{
                font-size: 2rem;
                z-index: 10;
                display: block;
            }
            &::after{
                content: "";
                position: absolute;
                width: 16rem;
                height: 5px;
                background-color: #202731;
                right: 30px;
            }
            &.one::after{
                width: 0;
                height: 0;
            }
        }
        .active{
            z-index: 10;
            background-color: rgb(255, 118, 255);
            box-shadow: 0 0 4px #ef91e9,
            0 0 15px #ef91e9,
            0 0 20px #ef91e9;
            
            &::after{
                background-color: rgb(255, 118, 255);
                
            }
            p{
                display: none;
            }
            .checkMark{
                display: flex;
            }
        }
    }
}

  
